* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Arial, Verdana, sans-serif;
  line-height: 1.4;
  color: #444;
  background: lightgray;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.inner {
  border: 1px solid green;
  width: 100%;
  padding: 8rem 10px 4rem;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  height: 50px;
  justify-content: center;
}

.input-text {
  font-size: 1.75rem;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.38);
  font-weight: 500;
  width: 85%;
  height: 45px;
  padding-right: 5px;
  padding-left: 10px;
  border: none;
}

.input-submit {
  border-radius: calc(0.3 * 100px);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.38);
  color: lightcoral;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
  border: none;
  height: 45px;
  width: 10%;
}
